# Секреты и окружение
.env

# Виртуальное окружение Python
venv/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Локальные данные / БД
*.db
weather_vk_bot/user_cities.json

# Runtime-кэш vkbottle
.vkbottle/

# IDE
.vscode/
.idea/
